@media (max-width: 900px) {
  #page-home {
    background-position-x: 70vw;
  }

  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home header #create-point {
    position: absolute;
    bottom: 48px;

    left: 50%;
    transform: translateX(-50%);
  }

  #page-home main {
    align-items: center;
  }

  #page-search-results main {
    margin: 48px 30px;
  }

  #page-search-results .cards {
    grid-template-columns: 1fr;
  }

  #page-search-results .cards img {
    height: 200px;
  }

  #page-create-point .field-group {
    flex-direction: column;
  }

  #page-create-point .field-group .field + .field {
    margin-left: 0;
  }
}

@media (max-width: 487px) {
  #page-home main h1 {
    font-size: 32px;
  }

  #page-home main p {
    font-size: 18px;
    line-height: 30px;
  }

  #page-home main a strong {
    font-size: 16px;
  }

  #page-home header #create-point {
    align-items: center;
  }

  #page-home header a span {
    width: 35px;
    background-repeat: no-repeat;
  }
  #modal .content {
    width: 80%;
  }

  #modal .header h1 {
    font-size: 32px;
  }

  #modal .header form {
    margin: auto 32px;
  }

  #modal form input {
    padding: 16px 14px;
  }

  #modal form button {
    width: 50px;
    height: 50px;
  }

  #page-search-results header {
    margin: 30px 15px 0;
  }

  #page-search-results header a {
    font-size: 13px;
  }

  #page-search-results header a span {
    margin-right: 8px;
  }

  #page-search-results header a img {
    width: 120px;
  }

  #page-create-point {
    width: 90%;
  }

  #page-create-point header {
    margin: 30px 15px 0;
  }

  #page-create-point header a {
    font-size: 13px;
  }

  #page-create-point header a span {
    margin-right: 8px;
  }

  #page-create-point > header > a:nth-child(1) > img {
    width: 120px;
  }

  #page-create-point form {
    padding: 35px;
  }

  #page-create-point .items-grid {
    grid-template-columns: 1fr 1fr;
    gap: 7px;
  }
  #page-create-point > form > fieldset:nth-child(3) > legend > span {
    font-size: 12px;
  }
}

@media (min-width: 1700px) {
  #page-home {
    background-position-x: 40vw;
  }
}

@media (max-height: 760px) {
  #page-home {
    background-position-y: 200px;
  }
}
